/*  Fonts   */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tomorrow-regular {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

:root {
    --jade: #00a87c
}

/* Header */
header {
    display: flex;
    justify-content: center;

}

header ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

header li {
    height: 50px;
    display: flex;
    text-justify: center;
    align-items: center;
}

.headlogo {
    height: 100px;
    width: 100px;
    float: left;
    display: block;
    padding-right: 50px;
}

/* Main Body */
body {
    margin: 10px;
    padding: 10px;


    text-align: center;
    font-family: 'Tomorrow', "Bebas Neue";
    font-size: 16px;



    background-image: url(/web115/images/bg-green.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    image-rendering: pixelated;


}

header {
    font-family: "Space Mono";
    font-size: 30px;
    color: var(--jade);
}

h2 {
    font-family: "Space Mono";
    font-size: 25px;
    color: var(--jade);
}

h3 {
    font-size: 18px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    margin: auto;
}


main a {
    color: var(--jade);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main a:active {
    color: beige;
}

nav {
    position: sticky;
}

main a nav {
    display: block;
}

td {
    vertical-align: top;
}

.mainmenu .box {
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    margin: 50px;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Box Formatting */

.maintext {
    width: 40vw;
    vertical-align: baseline;
    text-align: left;
}

.mainmenu {
    width: 15vw;
    vertical-align: baseline;
}

.mainmenu a {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.box {

    background-color: #0000008f;
    border: 2px solid #383838;
    border-radius: 4px;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;

}

/*Logo Formatting */
#logocontainer {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 200px;
    width: 200px;
    object-position: center;
}


/* Introduction.html*/

.box figure {
    text-align: center;
}

#publicstatement {
    text-align: center;
}

.intropicture {
    width: 300px;
    height: auto;
}

figure {
    margin: 0;
}

.famousquote p {
    text-align: center;

}

/* Brand.html */

#spacemono {
    font-family: "Space Mono";
}

.colorpalette div {
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 15px;
}

.colorswatch {
    border: 2px solid #383838;
    border-radius: 10px;
    padding: 60px;
}

.colorhex {
    text-wrap: wrap;
    width: auto;
    margin: 0px 15px;
}

.colordesc {
    text-wrap: wrap;
    width: 40%;
    margin: 0px 15px;
}

pre {

    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    height: 700px;
    width: auto;
    overflow: scroll;

}

/* Assignments */
#fizzbuzz-list li {
    list-style: none;
    margin-left: -35px;
}

/* Forms */
input[type=text] {
    background-color: #383838;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    color: #fff;
    border: 2px solid #383838;
    border-radius: 4px;


}

textarea {
    background-color: #383838;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    color: #fff;
    border: 2px solid #383838;
    border-radius: 4px;


}

input[type=number] {
    background-color: #383838;
    width: auto;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    color: #fff;
    border: 2px solid #383838;
    border-radius: 4px;

}

button {
    width: 100px;
    height: 30px;
    border: 1px solid #383838;
    border-radius: 4px;
    background-color: #383838;
    color: var(--jade);
    cursor: pointer;
}

button:active {
    background-color: var(--jade);
    color: #fff;
}

fieldset {
    margin: 10px auto;
    border: 2px groove #383838;
}

legend {
    font-weight: bold;
    font-style: italic;
}

/* FizzBuzz 0*/
ol {
    padding-left: 40px;
}

ol li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* FizzBuzz 4 */
#fizzbuzz-settings label {
    padding: 10px;
    align-items: center;
}

#fizzbuzz-settings input[type=number] {
    width: 10%;
}

#fizzbuzz-settings input[type=text] {
    width: 25%;
}

#fizzbuzz-settings section {
    display: flex;

}